.main {
    background-color: white;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0;
    width: 100%;

    &__title {
        background-color: var(--color-primary);
        margin: 0;
        padding: 1rem 0;
        text-align: center;
    }
}
